<table style="width: 70%;">
  <tbody>
    <form method="get">
    <tr>
      <tb>
          <tb>
            <input type="text" name="datefilter" value="" autocomplete="off" placeholder="Выберите период..."
                   style="height:36px; width:16%" />
            <script type="text/javascript">
              $(function() {

                $('input[name="datefilter"]').daterangepicker({
                    autoUpdateInput: false,
                    locale: {
                        cancelLabel: 'Clear'
                    }
                });

                $('input[name="datefilter"]').on('apply.daterangepicker', function(ev, picker) {
                    $(this).val(picker.startDate.format('YYYY-MM-DD') + ' / ' + picker.endDate.format('YYYY-MM-DD'));
                });

                $('input[name="datefilter"]').on('cancel.daterangepicker', function(ev, picker) {
                    $(this).val('');
                });

              });
              </script>
          </tb>
      </tb>
      <tb>
        <select name="city" style="height:36px; width:21%">
          <option selected=""></option>
          {%for el in city %}
            <option value="{{ el }}">{{ el }}</option>
          {% endfor %}
        </select>
      </tb>
      <tb>
        <input type="submit" name="sorted_by" value="Фильтровать" class="btn btn-info">
      </tb>
    </form>
      <tb>
        <form action="{% url 'dashboard' %}" method="get">
          <input type="submit" value="Сбросить фильтры" class="btn btn-secondary">
        </form>
      </tb>
    </tr>
  </tbody>
</table>


